.articleCommentContainer {
    background: #F5F5F5;
    border-radius: 10px;
    margin: 20px 0;
    padding: 24px 30px;
}

.articleCommentContainer>h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 24px;
    text-transform: uppercase;
    
}

.articleCommentContainer > textarea {
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    border: none;
    padding: 14px 18px;
}

.articleCommentContainer > textarea:focus { 
    outline: 2px solid #ECC911;
}

.articleCommentContainer > div {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.articleCommentContainer > div > div {
    display: flex;
    align-items: center;
    gap: 7px;
}
