.articleCommentContainer {
    background: #F5F5F5;
    border-radius: 10px;
    margin: 20px 0;
    padding: 24px 30px;
}

.articleCommentContainer>h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 24px;
    text-transform: uppercase;

}

.articleCommentContainer > textarea {
    width: 100%;
    max-height: 100px;
    min-height: 100px;
    border: none;
    padding: 14px 18px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
}

.articleCommentContainer > textarea::placeholder {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto';
    letter-spacing: .5px;
}

.articleCommentContainer > textarea:focus {
    outline: 2px solid #ECC911;
}

.articleCommentContainer > div {
    margin-top: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.articleCommentContainer > div > div {
    display: flex;
    align-items: center;
    gap: 7px;
}


.articleCommentListItem {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    justify-content: flex-start !important;
    align-items: flex-start !important;
}

.articleCommentListItem > div {
    display: flex;
    flex-direction: column;
    align-items: start !important;
    margin-left: 10px;
}

.articleCommentListItemAvatar {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

.articleCommentListItemCoomentContent {
    position: relative;
    width: 100%;
}

.articleCommentListItemCoomentContent > div:first-child {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.articleCommentListItemCoomentContent > span {
    position: absolute;
    top: 0;
    right: 0;
    color: #808d9a;
    font-size: 14px;
}

.articleCommentListItemComentText {
    display: flex;
    flex-direction: column !important;
}

.articleCommentListItemComentText > b {
    margin-bottom: 10px;
}

@media screen and (max-width: 460px){
    .articleCommentContainer > div {
        flex-direction: column;
    }

    .articleCommentContainer > div > div {
       margin-bottom: 10px;
    }
}
