.cardContainer {
    display: flex;
    align-items: center;
    gap: 20px;
    /* flex-wrap: wrap; */
    margin: 30px 0;
}

.cardContainer > button {
    display: none;
}

.card {
    background: #333333;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    color: #fff;
    min-width: 300px;
    width: fit-content;
}

.card > img {
    margin-right: 10px;
}

.card > div > p {
    font-weight: 400;
    font-size: 8px;
    /* line-height: 9px; */
    margin: 0px;
    text-transform: uppercase;
}

.card > div > h2 {
    font-weight: 700;
    font-size: 26px;
    /* line-height: 38px; */
    margin: 0;
}

/* profile card */

.profileCard {
    background: #ECC911;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    color: #fff;
    min-width: 300px;
    width: fit-content;
}

.profileCard > img {
    margin-right: 10px;
    border-radius: 40px;
}

.profileCard > img:last-child {
    margin-left: auto;
}

.profileCard > div > p {
    font-weight: 400;
    font-size: 12px;
    /* line-height: 14px; */
    margin: 0px;
    text-transform: uppercase;
}

.profileCard > div > h2 {
    color: #000000;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 23px; */
    margin: 0;
    text-transform: uppercase;
}

@media screen and (max-width: 1300px){
    .cardContainer > button {
        display: block;
    }

}

@media screen and (max-width: 1000px){
    .cardContainer {
        flex-direction: column;
    }
    .card {
        width: 100%;
    }

    .profileCard {
        width: 100%;
    }
}
