.subscribeContainer {
    display: flex;
    gap: 50px;
    margin-bottom: 60px;
    margin-top: 50px;
}

.telegramCard {
    background: #ECC911;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 600px;
    width: 50%;
    height: 200px;
}

.telegramCard>div {
    max-width: 330px;
    position: absolute;
    top: 20px;
    right: 50px;
}

.telegramCard>img {
    position: absolute;
    top: -50px;
    left: -15px;
}

.telegramCard>div>p {
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    margin-bottom: 20px;
}

.emailCard {
    background-image: url('/tg-bot-background.png');
    background-repeat: no-repeat;
    background-size: 100% 200px;
    color: #fff;
    border-radius: 10px;
    position: relative;
    display: flex;
    align-items: center;
    max-width: 600px;
    width: 50%;
    height: 200px;
}

.emailCard>div {
    position: absolute;
    top: 30px;
    left: 40px;
}

.emailCard>div {
    max-width: 330px;
}

.emailCard>div>p:first-child {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    margin: 0 0 10px 0;
    white-space: nowrap;
}

.emailCard>img {
    position: absolute;
    right: 0;
    top: -50px;
    transform: rotate(15deg);
}

@media screen and (max-width: 1300px) {
    .subscribeContainer {
        padding: 0 20px;
    }

    .telegramCard>img {
        width: 120px;
    }

    .emailCard>img {
        width: 150px;
    }

    .emailCard>div>p:first-child {
        white-space: normal;
    }

    .emailCard>div>p:nth-child(2) {
        margin: 0 0 10px;
    }
}

@media screen and (max-width: 1200px) {
    .telegramCard>img {
        width: 130px;
    }

    .emailCard>img {
        width: 130px;
    }

 
}

@media screen and (max-width: 1100px) {
    .subscribeContainer {
        /*flex-direction: column;*/
    }

    .telegramCard>img {
        display: none;
    }

    .emailCard>img {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .subscribeContainer {
        flex-direction: column;
    }

    .telegramCard,
    .emailCard {
        width: 100%;
        max-width: 100%;
    }

    .telegramCard>img {
        display: block;
        width: 200px;
    }

    .emailCard>img {
        display: block;
        width: 200px;
    }
}

@media screen and (max-width: 640px) {
    .telegramCard>img {
        display: none;
    }

    .emailCard>img {
        display: none;
    }

    .emailCard>div {
        left: 10%;
    }

    .telegramCard>div {
        left: 10%;
    }
}

@media screen and (max-width: 450px) {

    .emailCard,
    .telegramCard {
        height: 220px;
    }

}

@media screen and (max-width: 360px) {

    .emailCard,
    .telegramCard {
        height: 270px;
    }

}